.roster-mask {
    height: 100vh;
    text-align: center;
    background-image: url('./images/goats.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    padding-top: 10vh;   
}

.roster-table{
    background-color: rgba(255,255,255,0.85);
    overflow: scroll;
    height: 85vh;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
}
